<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a asp-action="Index" asp-controller="Jobseeker"><i class="fa fa-link"></i> <span>JobSeekers</span></a></li>
    <li><a asp-action="Index" asp-controller="Announcement"><i class="fa fa-link"></i> <span>Announcements</span></a></li>
    <li><a asp-action="Index" asp-controller="City"><i class="fa fa-link"></i> <span>Cities</span></a></li>
    <li><a asp-action="Index" asp-controller="Experience"><i class="fa fa-link"></i> <span>Experiences</span></a></li>
    <li><a asp-action="Index" asp-controller="Education"><i class="fa fa-link"></i> <span>Educations</span></a></li>
    <li><a asp-action="Index" asp-controller="Blog"><i class="fa fa-link"></i> <span>Blog</span></a></li>
    <li><a asp-action="Index" asp-controller="SocialNetwork"><i class="fa fa-link"></i> <span>Social Networks</span></a></li>
    <li><a asp-action="Index" asp-controller="SubCategory"><i class="fa fa-link"></i> <span>SubCategory</span></a></li>
    <li><a asp-action="Index" asp-controller="MainCategory"><i class="fa fa-link"></i> <span>Main Category</span></a></li>
    @* <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
</ul>