@{
    ViewData["Title"] = "Advert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="~/css/jobadv.css" />

<section id="advert-p">
    <div class="parallax advert-cont">
        <hgroup>
      
            <h2>Front-end,back-end programchi</h2>
            <h6>Grand group</h6>
        </hgroup>
    </div>
</section>

<section id="job-info">
    <div class="row">
        <div class="col-md-8 first">
            <div class="head-info">
                <div class="job-name">
                    <h1>
                        Front-end,back-end programchi
                        <span><i class="fas fa-eye"></i> 143 baxish</span>
                    </h1>
                </div>
                <div class="job-b">
                    <span><i class="far fa-calendar-alt"></i> 1/7/2019 - 2/7/2019</span>
                    <span><i class="fas fa-folder"></i> İnformasiya texnologiyaları - İT mütəxəssisi / məsləhətçi</span>
                </div>
            </div>
            <div class="more-info">
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-globe-asia"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-sort"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="col-md-10">
                            <strong>Maas</strong>
                            <span>Musahibe zamani</span>
                        </div>
                    </div>
                </div>
            </div>
            <h3>İş haqqında</h3>
            <p>
                Beynəlxalq müstəvidə fəaliyyət göstərən konsaltinq firmasının yeni yaradılmış yerli nümayəndəliyinə məsləhətçi axtarılır. Ən əhəmiyyətli sənaye, humanitar, sosial fəaliyyət sahələrində hökumət və kommersiya təşkilatları üçün müxtəlif növ
                məsləhət xidmətləri təqdim edirik. Bizim inkişafımız müştərilərimiz üçün real nəticələrin əldə edilməsidir. Siz də bizim kimi gələcəyinizi düşünürsünüzsə, komandamıza qoşulun. Komandamıza qoşularaq təşkilatımıza dəstək verəcək mühüm
                iş funksiyalarını həll etməyə kömək edəcəksiniz. Müxtəlif sferadan olan insanların çalışdığı komandamızda şəxsi bacarıqlarınızı inkişaf etdirərək, müştərilərin ən mühüm problemlərinin aradan qaldırılması üçün innovativ həll yolları
                təklif edə biləcəksiniz. Namizəd öz xüsusi bacarıqlarından istifadə etməklə yüksək nəticələr göstərdiyi təqdirdə, bizim əsas müştərilərimiz tərəfindən birbaşa iş təklifləri ala biləcəkdir. Siz karyeranızı qarşınızda duran öhdəliklər,
                mentorluq və formal təhsil hesabına inkişaf etmək imkanı əldə edəcəksiniz. Məhz bu yolla biz liderləri inkişaf etdirir, müştərilərimiz və cəmiyyətimiz üçün daha yaxşı dünyanın formalaşmasında həll edici rol oynayırıq.
            </p>
            <h3>Tələblər</h3>
            <ul>
                <li>Bakalavr dərəcəsi üzrə ümumi "B" (4) və ya daha yüksək qiymətlər. Bütün peşələr üzrə namizədlərin müraciətləri qəbul edilir;</li>
                <li>Dövlət və ya kommersiya təşkilatlarında minimum 1 illik iş təcrübəsi;</li>
                <li>Yüksək səviyyədə Azərbaycan və rus dili bilikləri;</li>
                <li>Əlavə xarici dil biliyi;</li>
                <li>Yüksək şifahi və yazılı ünsiyyət bacarıqları;</li>
                <li>Microsoft Excel və Word-də sərbəst işləmək bacarığı;</li>
                <li>Problemlərin həllinə yaradıcı yanaşma və kollektiv düşüncə tərzi (ünsiyyətçillik qabiliyyəti);</li>
                <li>Güclü təşkilati və təhlil bacarıqları;</li>
            </ul>
            <div class="tags">
                <i class="fas fa-tag"></i>&nbsp; &nbsp; <span>jobstore</span> &nbsp; &nbsp; <span>Karyera</span> &nbsp; &nbsp;<span>CV</span> &nbsp; &nbsp; <span>karyera</span>
            </div>
        </div>
        <div class="col-md-4 second">
            <div class="job-share">
                <span>İş elanını paylaş</span>
                <div class="job-scl">
                    <div><i class="fab fa-whatsapp"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-google-plus-g"></i></div>
                    <div><i class="fab fa-pinterest"></i></div>
                    <div><i class="fab fa-linkedin-in"></i></div>
                </div>
            </div>
            <div class="row services">
                <div class="col-md-4">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-8">
                    <strong>Greatford Business Services</strong>
                    <div class="serv-scl">
                        <div><i class="fas fa-link"></i></div>
                        <div><i class="fab fa-facebook-f"></i></div>
                        <div><i class="fab fa-twitter"></i></div>
                        <div><i class="fab fa-google-plus-g"></i></div>
                        <div><i class="fab fa-linkedin-in"></i></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="similar-vacancies">
    <div class="similar-v">
        <h2>Oxşar vakansiyalar</h2>
    </div>
    <div class="grid-simcontainer">
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
        <div class="gridsim-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/company-logo.png" alt="">
                </div>
                <div class="col-md-9">
                    <strong class="jobn">Sigorta meslehetcisi </strong>
                    <h4 class="company"> Sigorta</h4>
                    <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                </div>
            </div>
        </div>
    </div>
</section>