
@{
    ViewData["Title"] = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/dtled.css" />

<link rel="stylesheet" href="~/css/helpblg.css" />

<section id="dtl">
    <h2>5 pulsuz CV nümunəsi yüklə!</h2>

    <span><i class="fas fa-pen"></i> &nbsp; Yazar Editor</span>
    <span><i class="far fa-calendar-alt"></i>&nbsp; 10/20/2018 </span>
    <span> <i class="fas fa-list-ul"></i>&nbsp; CV nümunələri</span>

</section>
<section id="contain">
    <div class="row ">
        <div class="col-md-9 vacancies">
            <div class="c-container">
                <div class="c-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="avatar">
                                <img src="~/images/profile-avatar.jpg" alt="">
                            </div>
                            <div>
                                <div class="share">Paylaş</div>
                                <div class="socials">
                                    <a class="icons" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="icons" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icons" href=""><i class="fab fa-google-plus-g"></i></a>
                                    <a class="icons" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="icons" href=""><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9  ">
                            <a href="">
                                <strong>5 pulsuz CV nümunəsi yüklə!</strong>
                            </a>
                            <div class="information">
                                <span><i class="fas fa-pen"></i> &nbsp; Yazar Editor</span>
                                <span><i class="far fa-calendar-alt"></i>&nbsp; 10/20/2018 </span>
                                <span> <i class="fas fa-list-ul"></i>&nbsp; Karyera</span>
                                <img src="~/images/841af654523e40eba8c528affba44195.jpg" alt="">
                                <p>
                                    Yaradıcı CV qarşımızdakı şəxslərə, şirkətlərə özümüzü daha asan izah etməyimizə köməkçi olur. Herşey bir CV ilə başlayır. Ümumiyyətlə karyera portalları üzərindən ya da word ya da pdf sənədi olaraq hazırlanan Cv digital
                                    mühitdə baxılır və müsbət qiymətləndirilən cv-lər çap edilir.
                                    <br> Mühüm dizaynerlər tərəfindən hazırlanmış pulsuz yaradıcı CV nümunələri sizə özünüzü ən yaxşı şəkildə izah etməyə imkan verəcəkdir.
                                </p>
                                <h3>1. &nbsp; Sadə CV nümunəsi</h3>
                                <p>CV nümunəsini pulsuz olaraq yükləyə bilərsiniz. Sade və zərif bir şəkildə fərdi özgeçmişini hazırlaya bilərsiz. Faylı Microsoft Word ilə açaraq üzərində istədiyin dəyişiklikləri reallaşdıra bilərsiniz. </p>
                                <button class="download">Yüklə</button>
                                <br>
                                <h3>2. &nbsp; Yaradıcı CV nümunəsi</h3>
                                <p>
                                    Burada yeni bir iş üçün təsir edici ola biləcək, yaradıcı bir CV nümunəsi var. Bu nümunə hər hansı bir məqsəd üçün endirib istifadə edə biləcəyi bir növdəndir. Doc formatındakı bu yaradıcı CV nümunəsini Microsoft Word
                                    ilə açaraq qabiliyyətlərini üzərində təsir edici bir şəkildə göstərə bilərsiz.
                                </p>
                                <button class="download">Yüklə</button>
                                <br>
                                <h3>3. &nbsp; Minimalist CV nümunəsi</h3>
                                <p>Şəxsi CV üçün minimalist bir görünüş təmin edən bu CV nümunəsini yükləyə bilərsiniz. Word sənədi üzərində asanca dəyişiklik edərək öz özgeçmişini hazırlaya bilərsiz. </p>
                                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/30ad2716771059.562b0fa76ad49.png" alt="">
                                <button class="download">Yüklə</button>
                                <br>
                                <h3>4. &nbsp; Təmiz interaktiv CV</h3>
                                <p>
                                    Bütün qabiliyyətlər, iş təcrübələri, referanslar və çox daha çoxunu göstərmək üçün hazırlanmış şəxsiləşdirilmiş bir CV nümunəsi. Bu nümunə dizaynerlər və web developerlər üçün daha uyğundur, lakin hər hansı bir məqsəd
                                    üçün istifadə edilə bilər.
                                </p>
                                <img src="https://www.noupe.com/wp-content/uploads/2014/06/sven.jpg" alt="">
                                <button class="download">Yüklə</button>
                                <br>
                                <h3>5. &nbsp; Modern Word CV</h3>
                                <p>Professional iş təcrübələrini göstərmək üçün ağ və qara rəngli iki modeli olan gözəl bir pulsuz nümunə</p>
                                <img src="https://smashresume.com/wp-content/uploads/edd/2018/09/Resume.jpg" alt="">
                                <button class="download">Yüklə</button>
                                <br>
                                <p>
                                    Nəticə olaraq burada təqdim etdiyimiz CV Nümunələri özünü ən yaxşı şəkildə izah etməyin üçün faydalı olacağına ümid edirik. Hər zaman bilməyin lazım olan özgeçmişinin müraciət etdiyin şirkətlərin sənin haqqındakı ilk
                                    təəssüratlarını yaratmasıdır. Özünüzü ən yaxşı şəkildə göstərmək və təcrübələrini maraqlı bir şəkildə çatdırmaq üçün ilk təəssüratı məhz CV vasitəsilə yarada bilərsiz. Ən əhəmiyyətlisi səni və qarşıya çıxan xüsusiyyətlərini
                                    ən yaxşı şəkildə göstərməsidir.
                                </p>
                                <div class="tags">
                                    <i class="fas fa-tag"></i>&nbsp; &nbsp; <span>jobstore</span> &nbsp; &nbsp; <span>Karyera</span> &nbsp; &nbsp;<span>CV</span> &nbsp; &nbsp; <span>karyera</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="pages">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-3 search">
            <h3>Axtar</h3>
            <div class="filter">
                <div class="f-item">
                    <input class="form-control form-control-lg" id="inputsm" type="text">
                </div>
            </div>
        </div>

    </div>
    <div class="container-info">
        <div class="item-info">

        </div>
    </div>
</section>


