
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<section id="slider">
    <h3>İş elanları, Azərbaycanda Karyera!</h3>
    <div class="search-bar">
        <div class="col-md-4">
            <input type="search" placeholder="Açar söz">
        </div>
        <div class="col-md-5">
            <form role="form">
                <div class="form-group row">
                    <div class="col-lg-12 ">
                        <select class="selectpicker form-control" id="number" data-container="body" data-live-search="true" title="Bütün kateqoriyalar" data-hide-disabled="true"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <button class="search-btn" type="submit">Search</button>
        </div>
    </div>

</section>
<section id="slider-search">
    <h3>İş elanları, Azərbaycanda Karyera!</h3>
    <div class="search-bar">
        <div class="col-md-4 col-sm-12">
            <input type="search" placeholder="Açar söz">
        </div>
        <div class="col-md-4 col-sm-12 ">
            <form role="form">
                <div class="form-group row">
                    <div class="col-lg-12 ">
                        <select class="selectpicker form-control" id="number" data-container="body" data-live-search="true" title="Bütün kateqoriyalar" data-hide-disabled="true"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-12">
            <button class="search-btn" type="submit">Search</button>
        </div>
    </div>

</section>

<section id="category">
    <div class="ctg">
        <h3>Kategoriyalar</h3>
    </div>

    <div class="jobs">
        <div class="grid-container">
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
            <div class="grid-item">
                <a class="item-link" asp-action="Announcement" asp-controller="Home">
                    Maliyye <br> <span>(220 is)</span>
                    <i class="fas fa-greater-than"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="all">
        <button>Hamisina bax</button>
    </div>
</section>

<section id="newest">
    <div class="e-ctg">
        <h3 id="txt">Is elanlari</h3>
        <div class="btns">
            <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="changelText()">En cox baxilan</a>
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" onclick="changenText()">En Yeni</a> -->
            <button id="looking" style="width: 180px" onclick="changelText()">En cox baxilan</button>
            <button id="new" style="width: 90px" onclick="changenText()">En Yeni</button>
        </div>
    </div>
    <div class="newest">

        <div class="grid-econtainer">
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="Images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/image/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
            <div class="gride-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/company-logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <strong class="jobn">Sigorta meslehetcisi </strong>
                        <h4 class="company"> Sigorta</h4>
                        <span class="city">Baki</span> &nbsp; <span class="salary">1500</span> &nbsp; <span class="date">12/13.18</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="e-all">
            <button>Hamisina bax &nbsp; <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
        </div>
</section>
<section id="facebook">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Bizi Facebook'da izlə!</h3>
                <p>Vakansiyalardan daha tez xəbərdar olmaq üçün bizi Facebook vasitəsilə izləyin.</p>
                <div class="fb">
                    @*<div class="fb-page" data-href="https://www.facebook.com/jobstore.az/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
                        </div>*@
                    <div id="fb-root"></div>
                    <iframe src="https://www.facebook.com/v3.0/plugins/page.php?adapt_container_width=true&app_id=198695144182275&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fj-GHT1gpo6-.js%3Fversion%3D43%23cb%3Df29e4fce99d2b68%26domain%3Djobstore.az%26origin%3Dhttps%253A%252F%252Fjobstore.az%252Ffddecc9340aa68%26relation%3Dparent.parent&container_width=749&height=400&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Fjobstore.az%2F&locale=tr_TR&sdk=joey&show_facepile=true&small_header=false&width=900"
                            style="border:none;overflow:hidden;height: 170px; width: 100%" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="padding: 0">
                <img src="~/images/home-image.png" alt="">
            </div>
        </div>
    </div>
</section>
