
@{
    ViewData["Title"] = "Wrong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/dtled.css" />

<link rel="stylesheet" href="~/css/helpblg.css" />

<section id="dtl">
    <h2>CV'də əsla olmaması gərəkən 5 səhv</h2>

    <span><i class="fas fa-pen"></i> &nbsp; Yazar Editor</span>
    <span><i class="far fa-calendar-alt"></i>&nbsp; 10/20/2018 </span>
    <span> <i class="fas fa-list-ul"></i>&nbsp; Karyera</span>

</section>
<section id="contain">
    <div class="row ">
        <div class="col-md-9 vacancies">
            <div class="c-container">
                <div class="c-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="avatar">
                                <img src="~/images/profile-avatar.jpg" alt="">
                            </div>
                            <div>
                                <div class="share">Paylaş</div>
                                <div class="socials">
                                    <a class="icons" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="icons" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icons" href=""><i class="fab fa-google-plus-g"></i></a>
                                    <a class="icons" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="icons" href=""><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9  ">
                            <a href="">
                                <strong>CV'də əsla olmaması gərəkən 5 səhv</strong>
                            </a>
                            <div class="information">
                                <span><i class="fas fa-pen"></i> &nbsp; Yazar Editor</span>
                                <span><i class="far fa-calendar-alt"></i>&nbsp; 10/20/2018 </span>
                                <span> <i class="fas fa-list-ul"></i>&nbsp; Karyera</span>
                                <img src="~/images/f2108a74a2cf4ccbb2c99e386d064662.jpg" alt="">
                                <p>
                                    Hədəflədiyiniz işə girə bilmək üçün cv'nizdə olan məlumatlar kritik bir əhəmiyyət daşıyır. CV-yə daxil edilməməsi lazım olan məlumatlar da, iş axtarışı prosesini birbaşa təsir edə bilər.
                                    <br> CV hazırlamaq, karyeranız üçün atacağınız ilk və ən vacib addımlardan biridir. Doğru hazırlanmış bir CV bir çox qapını aça bilər. Ancaq diqqətsiz bir hazırlıq, diqqətsizcə edilən səhvlər və gərəksiz məlumatlar
                                    isə iş tapmaq prosesini uzada bilər və istədiyiniz işə sahib olmaq üçün maneə törədə bilər.
                                    <br> Bu yazıda bir CV'də əsla olmaması lazım olan şeyləri yığmışıq:
                                </p>
                                <h3>Yazı səhvləri</h3>
                                <p>
                                    CV-də heç vaxt yazı səhvləri olmamalıdır. Xatırladaq ki, CV-ni yazdıqdan sonra onlarla müraciət edəcəksiniz. Əgər bir yazı səhvin varsa bu onu onlarla işə alma mütəxəssisin görəcəyi mənasını verər. Yazı səhvləri ehtiva
                                    edən bir CV də işə götürmə mütəxəssisi tərəfindən ilk mərhələdə imtina ediləcək CV'lər arasına atılır. Sözlər düzgün yazılmalı, işarələrdən düzgün istifadə edilməlidir, cümlələr düzgün olaraq qurulmalı və nizamlı
                                    olmalıdır. CV-ni yazdıqdan sonra yenidən oxumaq və səhvləri aradan qaldırmaq lazımdır. Azərbaycan dilinin yazı qaydalarına yaxşı bələd deyilsənsə, bu mövzuda güvəndiyin birindən CV'ni oxumasını və düzəltməsini istəyə
                                    bilərsən.
                                </p>
                                <h3>Uyğun olmayan fotoşəkil</h3>
                                <p>
                                    CV'nizdə fotoşəkil istifadəsi də bir digər əhəmiyyətli mövzunu təşkil edir. Xaricdəki CV-lərdə, xüsusən də ABŞ-da və digər Qərb ölkələrində fotoşəkillərdən istifadə edilməsinə qəti ehtiyac yoxdur. Buna görə xaricdə
                                    işə müraciət edərkən hər hansı bir şəkildən istifadə etməməyə diqqət göstərməlisən. Digər tərəfdən Azərbaycanda isə fotoşəkilsiz CV qəbul edilmir və ya yaxşı qarşılanmır. Azərbaycandaki iş elanlarına müraciət edərkən
                                    CV'nizə bir fotoşəkil əlavə etməyi unutmayın. Lakin, bu şəkil rəsmi görünüşlü formada olmalıdır. Günlük həyatınızında çəkdiyiniz fotoşəkillərinizi CV'nizdə istifadə etməməlisiniz.
                                </p>
                                <h3>
                                    Qəribə e-poçt ünvanları
                                </h3>
                                <p>
                                    Bir çox gənc namizədin CV hazırlayarkən etdiyi ən böyük səhvlərdən biri, yetkinlik illərində yaratdıqları e-poçt hesablarını CV'ndə qeyd etmək olur. Təbii olaraq bu bu ünvanlar bir az daha fərqli, hətta qəribə və komik
                                    ola bilir. E-poçt ünvanı nə qədər əhəmiyyətsiz görünsə də haqqınızda çox şey söyləyir. Adı və soyaddan ibarət olan elektron poçt ünvanı əldə etməyə çalışın.
                                </p>
                                <h3>Əlaqəsiz iş təcrübələri</h3>
                                <p>
                                    Hər kəs gənckən və universitet illərində hədəflədiyi karyera ya da sektorla əlaqəli olmayan işlər etmişdir. Bunlar sizin üçün böyük bir həyat təcrübəsi ola bilər. Ancaq müraciət etdiyiniz elandaki mövqe ilə birbaşa
                                    əlaqəsi yoxdursa bunları yazmağa da ehtiyac yoxdur. Bu cür iş təcrübələri səni daha təcrübəli göstərməz. Hətta mənfi bir təsirə belə səbəb ola bilər.
                                </p>
                                <h3>Həddən artıq şəxsi məlumat</h3>
                                <p>
                                    Bir çox HR mütəxəssisi namizədlərin CV'lərində həddən artıq fərdi məlumata yer verdiyini söyləyir. Əslində, e-poçt ünvanınız və telefon nömrəniz CV üçün kifayətdir. Şəxsiyyət vəsiqəsinin seriya nömrəsi, mədəni vəziyyətin,
                                    qan qrupu və s. kimi fərdi məlumatların az qala faydadan çox zərəri var. CV-ni bir çox müxtəlif yerlərə göndərirsiniz. Bu cür məlumatları tanımadığın insanlarla da paylaşmış olursan. Bu həm gərəksiz, həm də qeyri
                                    professional hesab olunur.
                                </p>
                                <div class="tags">
                                    <i class="fas fa-tag"></i>&nbsp; &nbsp; <span>jobstore</span> &nbsp; &nbsp; <span>Karyera</span> &nbsp; &nbsp;<span>CV</span> &nbsp; &nbsp; <span>karyera</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="pages">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-3 search">
            <h3>Axtar</h3>
            <div class="filter">
                <div class="f-item">
                    <input class="form-control form-control-lg" id="inputsm" type="text">
                </div>
            </div>
        </div>

    </div>
    <div class="container-info">
        <div class="item-info">

        </div>
    </div>
</section>

