.parallax.reg-a-cont {
    background: url(../images/heading-bg.png) no-repeat fixed 70% 0;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 200px;
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
}

input {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.bot-a {
    border-top: 1px solid lightgray;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

#reg-a-b {
    height: 40px;
    margin: 15px;
    width: 180px;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: #e6b706;
    color: #44494b;
}

.bot-a a {
    font-size: 13px;
    text-decoration: none;
    color: #e6b706;
}

.bot-a a:hover {
    color: #e6b706;
    text-decoration: none;
}

.bot-a a span {
    color: black;
}

.bot-a a span:hover {
    color: black;
}

#reg-a-b:hover {
    opacity: 0.8;
}

label {
    font-weight: 600;
    font-family: sans-serif;
}

.top-a {
    height: 100px;
}

.row {
    margin: 15px 0px;
}

.note span {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #44494b;
}

.jseek {
    color: rgb(220, 20, 60);
}